.addNoteContainer{
    box-shadow: 1px 1px 8px -5px #443d3d;
    background: #ffffff;
}
label{
    font-weight: 800;
}
textarea{
    resize: none;
    min-height: 90px !important;
    outline: none;
    padding: 10px;
    font-size: 12px !important;
    line-height: 2px;
}



@media screen and (max-width: 769px) {
    input[name="tag"]{
        width: 10px;
        height: 10px;
    }
    .tag{
        font-size: 13px;
    }
    textarea{
        resize: none;
        max-width: 40vw;
        min-height: 20vh;
        padding: 10px;
        font-size: 13px;
    }
}